<div class = "container" id="lognForm">
    <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill" style="margin-top: 60px;">
                <input matInput type="text" placeholder="email" id="email" formControlName="email">
                <mat-error *ngIf="email?.errors?.['required']">
                    Email is required.
                </mat-error>
            </mat-form-field>

            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill">
                        <input matInput type="password" placeholder="Password" id="password" formControlName="password">
                        <mat-error *ngIf="password?.errors?.['required']">
                            Password is required.
                        </mat-error>
                    </mat-form-field>
            </div>
            </div>
                    
             <button color="primary" mat-button mat-raised-button [disabled]="!userForm.valid" type="submit" id="logButton">
                Login</button>
         
         </form>      
    </div>        
